body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: white;
    text-align: center;
    overflow-x: hidden;
}

.hero {
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    animation: glow 2s infinite alternate;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#typewriter {
    font-size: 1.5em;
    margin-top: 20px;
    min-height: 40px;
}

.gallery {
    padding: 50px 20px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo-container img {
    width: 250px;
    height: 250px;
    object-fit:contain;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
}

.photo-container img:hover {
    transform: scale(1.1);
}

/* Popup Background */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

/* Popup Box */
.popup-content {
    background: white;
    color: #ff4b6e;
    padding: 30px;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    text-align: center;
    animation: popupAnimation 0.4s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

@keyframes popupAnimation {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}


footer {
    padding: 20px;
    background: rgba(0,0,0,0.3);
}

@keyframes glow {
    from { text-shadow: 0 0 10px white; }
    to { text-shadow: 0 0 25px #ffeb3b; }
}

.hearts {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.music-btn {
    padding: 12px 25px;
    background: #ff4e8a;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.music-btn:hover {
    background: #ff1e6c;
    transform: scale(1.1);
}
